body {
    font-family: 'Rubik', 'Segoe UI', 'San Francisco', 'Calibri', Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.c-hero-flex {
    display: flex;
    flex: 1 1 0;
    height: 100vh;
}

@media (max-width: 960px) {
    .c-hero-flex {
        flex-flow: column nowrap;
    }
    .c-hero-flex__item {
        width: 100%;
    }
}

.c-hero-flex__item {
    flex-grow: 1;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: .2s all;
    cursor: pointer;
}

@media (min-width: 961px) {
    .c-hero-flex__item {
        height: 100%;
        justify-content: space-around;
    }
}

.c-hero-flex__item:hover {
    flex-grow: 2;
    box-shadow: inset 0 0 0 100vmax rgba(175, 0, 100, 0.7);
}

.c-hero-flex__item:nth-child(1) {
    background: #222 url(https://images.unsplash.com/photo-1417577097439-425fb7dec05e?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
}

.c-hero-flex__item:nth-child(2) {
    background: #222 url(https://images.unsplash.com/photo-1424460421773-58b49adfc68a?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
}

.c-hero-flex__item:nth-child(3) {
    background: #222 url(https://images.unsplash.com/photo-1442876906995-6761040d1f0b?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
}

.c-hero-flex__title {
    text-transform: uppercase;
    letter-spacing: .075em;
    color: #fff;
    transition: .2s all;
}
